body {
    background-color: rgb(161, 163, 163);
    margin: 25px;
    padding-left: 30%;
}
button{
    margin: 20px;
    padding: 5px;
    width: 150px;
    height: 35px;
    margin-left: 40px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
}

.container {
    width: 575px;
    height: 625px;
    justify-content: center;
    text-align: center;
    background-color: #797978;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 5px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }

  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  
